<div id="dashboard">
  <div class="row" id="dashboard-header">
    <div class="col-md-6">
      <h1>Snippets</h1>
    </div>
    <div class="col-md-6">
      <button id="new-snippet"
              class="btn btn-primary pull-right"
              ng-click="showModal()">
        New Snippet
      </button>
    </div>
  </div>

  <div class="row" id="snippet-list">
    <div class="col-md-12">
      <div ng-repeat="item in snippets"
           class="well well-sm">
        <div class="snippet-content">
          <p>
            {{item.content}}
          </p>
        </div>
        <div class="row">
          <div class="col-md-6" class="snippet-tags">
            <span ng-repeat="tag in item.tags"
                  class="label label-default tag">
              {{tag}}
            </span>
          </div>
          <div class="col-md-6" class="snippet-details">
            <span>Created: </span>
            <span>
              {{item.created | date:'medium'}}
            </span>
          </div>
        <div>
      </div>
    </div>
  </div>

</div>
