<div class="row">
  <h1>Login</h1>
  <div class="col-md-6">
    <form class="form-horizontal"
          id="login"
          name="loginForm"
          role="form"
          novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control"
               id="username"
               ng-model="user.username"
               type="text">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control"
               id="password"
               ng-model="user.password"
               type="password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary"
                ng-click="sendLogin(user)">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
