<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/#/">radsticks</a>
    </div>
    <div class="navbar-collapse collapse" id="main-menu">
      <div class="btn-group pull-right">
        <ul class="nav navbar-nav">
          <li><a ng-href="/#/">Home</a></li>
          <li class="divider"></li>
          <li><a ng-href="/#/about">{{aboutText}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
