<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/#/">radsticks</a>
    </div>
    <div class="navbar-collapse collapse" id="main-menu">
      <!-- logged in -->
      <div class="btn-group pull-right"
           ng-if="Auth.data.token">
        <ul class="nav navbar-nav">
          <li class="divider"></li>
          <li>
            <a class="btn dropdown-toggle"
               data-toggle="dropdown">
              {{Auth.data.username}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a ng-href="/#/">Profile</a></li>
              <li class="divider"></li>
              <li><a ng-click="logout()">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /logged in -->

      <!-- logged out -->
      <div class="btn-group pull-right"
           ng-if="!Auth.data.token">
        <ul class="nav navbar-nav col-sm-12">
          <li><a ng-href="/#/about">About</a></li>
          <li><a ng-href="/#/register">Register</a></li>
          <li class="divider"></li>
          <li class="dropdown">
            <form class="navbar-form form-inline"
                  id="login"
                  name="loginForm"
                  role="form"
                  novalidate>
              <div class="form-group">
                <input class="form-control span2"
                       id="username"
                       placeholder="user id"
                       ng-model="user.username"
                       type="text">
              </div>
              <div class="form-group">
                <input class="form-control span2"
                       id="password"
                       placeholder="password"
                       ng-model="user.password"
                       type="password">
              </div>
              <div class="form-group">
                <button class="btn btn-small btn-primary"
                        ng-click="login(user)">
                  Log In
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <!-- /logged out -->
    </div>
  </div>
</div>
