<div id="new-snippet-modal">
  <div class="modal-header">
    <h3>New Snippet</h3>
  </div>
  <div class="modal-body">

    <form name="newSnippet"
          class="form-horizontal"
          role="form"
          novalidate>
      <!-- content -->
      <div class="form-group">
        <textarea id="snippet-content"
                  class="form-control"
                  rows="4"></textarea>
      </div>
      <!-- tags -->
      <div class="form-group">
        <label for="snippet-tags"
               class="col-md-4 control-label">
          Tags
        </label>
        <div class="col-md-8">
          <input id="snippet-tags"
                 class="form-control"
                 type="text">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
