<div class="row">
  <div class="alert alert-success animation"
       ng-if="Notifications.data.successMessage">
    {{Notifications.data.successMessage}}
    <button type="button"
            class="close"
            ng-click="Notifications.resetSuccessMessage()"
            data-dismiss="alert"
            aria-hidden="true">
      &times;
    </button>
  </div>
  <div class="alert alert-danger"
       ng-if="Notifications.data.errorMessage">
    {{Notifications.data.errorMessage}}
    <button type="button"
            class="close"
            ng-click="Notifications.resetErrorMessage()"
            data-dismiss="alert"
            aria-hidden="true">
      &times;
    </button>
  </div>
</div>
