<div ng-if="Auth.data.token">
  <div class="row">
    <div class="col-md-12">
      <h1>You are registered and logged in :)</h1>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

<div ng-if="!Auth.data.token">
  <div class="row well well-lg">
    <div class="col-md-6">
      <h1>Register</h1>
      <br>
      <p>
        <ul>
          <li>It's free!</li>
          <li>You'll be so much cooler!</li>
        </ul>
      </p>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <form role="form"
            name="registrationForm"
            class="form-horizontal"
            novalidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control"
                 id="email"
                 ng-model="user.email"
                 type="text">
        </div>
        <div class="form-group">
          <label for="displayName">Display Name</label>
          <input class="form-control"
                 id="displayName"
                 ng-model="user.displayName"
                 type="text">
        </div>
        <div class="form-group">
          <label for="passwordOne">Password</label>
          <input class="form-control"
                 id="passwordOne"
                 ng-model="user.passwordOne"
                 type="password">
        </div>
        <div class="form-group">
          <label for="passwordTwo">Password Confirm</label>
          <input class="form-control"
                 id="passwordTwo"
                 ng-model="user.passwordTwo"
                 type="password">
        </div>
        <div class="form-group">
          <button class="pull-right btn btn-success"
                  ng-click="register(user)">Submit</button>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
