<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>radsticks</title>
      {% style "/static/css/vendor.css" type="text/css" %}
      {% style "/static/css/main.css" %}
    </head>

    <body ng-app="radsticksApp">

      <!--<div id="main-content" class="container"
      ng-view=""></div>-->
      <div ui-view="navbar"></div>
      <div id="main-content" class="container">
        <div ui-view="notifications"></div>
        <div ui-view="container"></div>
        <div class="footer">
          <p>♥ from <a href="http://00null.net">00null</a></p>
        </div>
      </div>

      {% script "/static/js/vendor.js" %}
      {% script "/static/js/app.js" %}

      <script type="text/javascript">
          var context = "";
      </script>
    </body>
    </body>
</html>

